
<div class="header_menu">
<nz-header>


  <ul nz-menu  nzTheme="dark" nzMode="horizontal" >

    <li nz-menu-item ><a  [routerLink]="['/']" routerLinkActive="active-link">HOME</a></li>
    <li nz-menu-item > <a  [routerLink]="['/dispositivos']" routerLinkActive="active-link">DISPOSITIVOS</a></li>
    <li nz-menu-item ><a  [routerLink]="['/armas']" routerLinkActive="active-link">ARMAS</a></li>
    <li nz-menu-item ><a  [routerLink]="['/contacto']" routerLinkActive="active-link">CONTACTO</a></li>
  </ul>

</nz-header>
</div>
