<!--
<div class="banner" >
  <img src="assets/image/banner.png"  class="img">
</div>
-->
<div id="contenedor">

  <p class="titulo"><a>
    AIRGUNS OCAÑA
  </a></p>

</div>




<div class="centro">
  <P class="text_home">Somos una tienda de armas traumaticas,legalmente constituida antes la Cámara de Comercio y regitsrada en la Dian
    ,hacemos envíos a toda colombia.</P>
  <br>




  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box">

      <img src="assets/image/escopeta.gif" />

    </div></div>
    <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box">
       <iframe width="560" height="260" src="https://www.youtube.com/embed/z7uaWcGiuC8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div></div>

  </div>


  <div nz-row>


    <div nz-col [nzSpan]="18" [nzPush]="6">
      <div class="centro"  >
        <p class="titulo"><a>
          ¿QUÉ ES UN ARMA TRAUMÁTICA?
        </a></p>

        <br>
        <P class="text_home">Son armas con cañón abierto, este cual permite el paso de una goma que es adecuado en los países europeos cuentos
          como Italia, Alemania y Ucrania. en donde son usados ​​a menudo para la defensa personal, impactan un arma de
          estos el impacto neutraliza fácilmente un posible atacante, lo más impresionante de estas armas es que suenan
          como una verdad y se dispara como una verdad pero con munición NO LETAL la cual Inmoviliza un posible atacante.</P>
      </div>
    </div>

    <div nz-col [nzSpan]="6" [nzPull]="18">


      <div [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px'  }">
        <nz-calendar [nzFullscreen]="false" (nzSelectChange)="onValueChange($event)" (nzPanelChange)="onPanelChange($event)"></nz-calendar>
      </div>
    </div>







  </div>







</div>




