

<nz-footer>

  <footer>

    <div class="container-footer-all">

      <div class="container-body">

        <div class="colum1">
          <h1>Mas informacion de la Empresa</h1>

          <p>Esta Empresa se dedica a la venta de armas traumáticas para la finalidad de
            deporte o defensa personal , disponemos de un campo de tiro , donde los afiliados
            con su carnet podran poner en practicas sus habilidades y destrezas con las armas.
           </p>

        </div>

        <div class="colum2">

          <h1>Redes Sociales</h1>

          <div class="row">
            <a href="">
            <img src="assets/image/icon/facebook.png">
            <label>Siguenos en Facebook</label>
            </a>
          </div>
          <div class="row">
            <a href="">
            <img src="assets/image/icon/twitter.png">
            <label>Siguenos en Twitter</label>
            </a>
          </div>
          <div class="row">
            <a href="">
            <img src="assets/image/icon/instagram.png">
            <label>Siguenos en Instagram</label>
            </a>
          </div>




        </div>

        <div class="colum3">

          <h1>Informacion Contactos</h1>

          <div class="row2">
            <img src="assets/image/icon/house.png">
            <label>Ocaña,
              San andresito
              Local-27</label>
          </div>

          <div class="row2">
            <img src="assets/image/icon/smartphone.png">
            <label>3185951127</label>
          </div>

          <div class="row2">
            <img src="assets/image/icon/contact.png">
            <label>jesus31078@gmail.com</label>
          </div>

        </div>

      </div>

    </div>

    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          © 2020 Todos los Derechos Reservados | Jesus Alfonso Bohorquez Carrascal
        </div>

        <div class="information">
          <a href="">Informacion Empresa</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
        </div>
      </div>

    </div>

  </footer>

</nz-footer>

